[package]
name = "hath-rust"
version = "1.2.0"
edition = "2021"
build = "build.rs"

[dependencies]
arc-swap = "1.7"
async-stream = "0.3"
axum = { version = "0.7", default-features = false, features = ["http1", "matched-path"] }
bytes = "1.5"
chrono = "0.4"
clap = { version = "4.5", features = ["derive", "wrap_help"] }
filesize = "0.2"
filetime = "0.2"
futures = "0.3"
hex = "0.4"
http-body = "1.0"
http-body-util = "0.1"
hyper = { version = "1.2", features = ["http1", "server"] }
hyper-util = { version = "0.1", features = ["tokio"] }
inquire = "0.7"
log = { version = "0.4", features = ["std"] }
mime = "0.3"
once_cell = "1.19"
openssl = { version = "*", features = ["vendored"] }
parking_lot = { version = "0.12", features = ["hardware-lock-elision", "deadlock_detection"] }
pin-project-lite = "0.2"
rand = { version = "0.8", features = ["small_rng"] }
regex = "1.10"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls", "stream", "socks"] }
scopeguard = "1.2"
tempfile = "3.10"
tokio = { version = "1", features = ["full", "parking_lot"] }
tokio-openssl = "0.6"
tokio-stream = { version = "0.1", default-features = false, features = ["fs"] }
tower = { version = "0.4", features = ["util", "timeout"] }
tower-http = { version = "0.5", features = ["fs"] }

# cpufeatures not support all platforms
[target.'cfg(any(target_arch = "x86", target_arch = "x86_64", target_arch = "aarch64"))'.dependencies]
cpufeatures = "0.2"

[target.'cfg(not(any(target_env = "msvc", target_os = "macos")))'.dependencies]
tikv-jemallocator = { version = "0.5", features = ["background_threads", "unprefixed_malloc_on_supported_platforms"] }

[target.'cfg(target_os = "macos")'.dependencies]
tikv-jemallocator = { version = "0.5", features = ["unprefixed_malloc_on_supported_platforms"] } # jemalloc not support background threads on macos

[target.'cfg(windows)'.dependencies]
tray-icon = { version = "0.11", default-features = false }
windows = { version = "0.52", features = ["Win32_Foundation", "Win32_System_Console", "Win32_UI_WindowsAndMessaging"] }
tao = "0.26"

[build-dependencies]
built = { version = "0.7", features = ["git2", "chrono", "semver"] }
openssl-src = { version = "300", features = ["weak-crypto"] }

[patch.crates-io]
tokio-openssl = { git = "https://github.com/tokio-rs/tokio-openssl", rev = "01d32fa" }

[profile.release]
lto = true
strip = true
