[package]
name = "hath-rust"
version = "1.0.0"
edition = "2021"
build = "build.rs"

[dependencies]
actix-files = "0.6"
actix-tls = { version = "*", default-features = false, features = ["accept"] }
actix-web = { version = "4.3", default-features = false, features = ["macros", "openssl"] }
actix-web-lab = "0.19"
async-stream = "0.3"
chrono = "0.4"
clap = { version = "4.4", features = ["derive"] }
cpufeatures = "0.2"
filesize = "0.2"
filetime = "0.2"
futures = "0.3"
hex = "0.4"
inquire = "0.6.2"
log = { version = "0.4", features = ["std"] }
mime = "0.3"
once_cell = "1.18.0"
openssl = { version = "*", features = ["vendored"] }
parking_lot = { version = "0.12", features = ["hardware-lock-elision", "deadlock_detection"] }
pin-project-lite = "0.2"
rand = { version = "0.8", default-features = false, features = ["small_rng"] }
regex = "1.9"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls", "stream"] }
tempfile = "3.7"
tokio = { version = "1", features = ["full", "parking_lot"] }
tokio-stream = { version = "0.1", default-features = false, features = ["fs"] }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = { version = "0.5", features = ["background_threads", "unprefixed_malloc_on_supported_platforms"] }

[target.'cfg(target_env = "msvc")'.dependencies]
mimalloc = { version = "0.1", default-features = false }

[build-dependencies]
built = { version = "0.7", features = ["git2", "chrono", "semver"] }
openssl-src = { version = "300", features = ["weak-crypto"] }

[profile.release]
lto = true
strip = true
